DJANGO_SECRET_KEY=cambia-esto-en-produccion-con-django-secret-key
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend-django

POSTGRES_DB=legallens
POSTGRES_USER=legallens
POSTGRES_PASSWORD=legallens_dev_password
POSTGRES_HOST=db-legal
POSTGRES_PORT=5432

FASTAPI_URL=http://ai-engine:8001

GOOGLE_API_KEY=tu_api_key_aqui
